In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('image_emotions4.csv')
df

,filename,angry,sad,happy,fear,surprise,disgust,neutral,emotion
0,image_06637.jpg,1,0,0,0,0,0,0,angry
1,image_06638.jpg,1,0,0,0,0,0,0,angry
2,image_06639.jpg,0,0,0,0,0,1,0,disgust
3,image_06641.jpg,0,0,0,0,0,0,1,neutral
4,image_06642.jpg,0,1,0,0,0,0,0,sad
...,...,...,...,...,...,...,...,...,...
5831,image_08036.jpg,1,0,0,0,0,0,0,angry
5832,image_08035.jpg,0,0,0,0,0,0,1,neutral
5833,image_08038.jpg,0,1,0,0,0,0,0,sad
5834,image_08028.jpg,0,0,0,1,0,0,0,fear
5835,image_08026.jpg,1,0,0,0,0,0,0,angry

In [10]:
df[['angry', 'sad', 'happy', 'neutral']].sum(axis=0)

angry       696
sad        1415
happy       257
neutral    1231
dtype: int64